trigger:
  branches:
    include:
      - master

variables:
  # Vinculamos el grupo que creamos en la Library
  - group: acr-secretos
  # Definimos el resto de variables
  - name: VM_IP_PUBLICA
    value: '48.211.160.12'
  - name: IMAGE_NAME
    value: 'myapp-nginx-s4'
  - name: ACR_NAME
    value: 'ACRDEVOPS001AGRUPO09SUM2'

jobs:
  - deployment: DeployToVM
    displayName: 'Deploy to VM via Environment'
    environment:
      name: 'finanzasAlCorreo-PROD'
      resourceType: VirtualMachine
    strategy:
      runOnce:
        deploy:
          steps:
            - script: |
                # Instalación de dependencias (solo si no existen)
                if ! command -v docker &> /dev/null; then
                  echo "Instalando Docker..."
                  curl -fsSL https://get.docker.com | sh
                  sudo systemctl start docker
                fi
              displayName: 'Garantizar Docker en VM'

            - script: |
                echo "Autenticándose en $(ACR_NAME)..."
                # La variable $(ACR_PASSWORD) viene de la Library de forma segura
                echo $(ACR_PASSWORD) | sudo docker login $(ACR_NAME).azurecr.io -u $(ACR_NAME) --password-stdin

                echo "Actualizando imagen y contenedor..."
                sudo docker pull $(ACR_NAME).azurecr.io/$(IMAGE_NAME):latest
                
                # Limpieza y despliegue
                sudo docker stop nginx_container || true
                sudo docker rm nginx_container || true
                
                sudo docker run -d -p 80:80 --name nginx_container $(ACR_NAME).azurecr.io/$(IMAGE_NAME):latest
              displayName: 'Pull y Run de la imagen'

            - script: |
                echo "Despliegue finalizado con éxito."
                echo "Accede en: http://$(VM_IP_PUBLICA)/"
              displayName: 'Resumen de Despliegue'
